/*_____Homepage Hero Banner_____*/

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/*__________*/


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/*_____Buttons Container_____*/

.buttons {
  position: absolute;
  bottom: 30px;
  right: 50px;
  display: flex;
  gap: 30px;
  border: 0px solid rgb(0, 0, 0);
}

/*__________*/

/*_____Meet Armani Section_____*/

.armaniImage {
  height: 400px;
  width: 300px;
  align: left;
  padding-right: 2rem;
  margin-left: -175px;
  margin-top: -40px;
}

.meetArmani {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 1400px;
  margin: 80px auto 0 auto;
  justify-content: flex-start;
}

.meetArmaniText {
  font-size: 1.3rem;
  text-align: left;
  max-width: 400px;
  padding: 20px;
  
}

.armaniDivider {
  width: 5px;
  background: #f18306;
  height: 400px;
  margin-left: 88px;
  margin-right: 20px;
}

.whyabText {
  font-size: 1.3rem;
  text-align: left;
  max-width: 800px !important;
  width: 800px;
}

/*__________*/

/*_____Key Features Section_____*/

.keyFeatures {
  width: 100%;
  max-width: none;
  display: block;
  text-align: center;
  ;
}

.kfDivider {
  width: 2000px;
  height: 3px;
  margin: 0px auto;
  background: #f18306;
}